<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'notetaking/bootstrap.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Chapter</title>
</head>
<body>
<h1>{{ subject.subject_title }}</h1>

{% if chapter_list %}
    <ul class="list_group" >
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <form action="{% url 'notetaking:delete_chapter' subject.id %}" method="post">
            {% csrf_token %}
            <label for="sub">Delete chapter</label><br>
            <input type="submit" value="Submit">
        </form>
    </li>
    {% for chapter in chapter_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center" >
            <a href="/notetaking/{{ subject.id }}/{{ chapter.id }}">{{ chapter.chapter_title }}</a>
        </li>
    {% endfor %}
        <li class="list-group-item d-flex justify-content-between align-items-center" >
            <form action="{% url 'notetaking:new_chapter' subject_id=subject.id %}" method="post">
                {% csrf_token %}
                <label for="sub">Create new chapter</label><br>
                <input type="text" id="sub" name="sub">
                <input type="submit" value="Submit">
            </form>
        </li>

    </ul>
{% else %}
    <p>No Chapters are available.</p>
    <form action="{% url 'notetaking:new_chapter' subject_id=subject.id %}" method="post">
    {% csrf_token %}
        <label for="sub">Create new chapter</label><br>
        <input type="text" id="sub" name="sub">
        <input type="submit" value="Submit">
    </form>
{% endif %}
</body>
</html>
